body{
  font-family: 'Open Sans', sans-serif;
  width: 1000px;
  margin: auto;
  position: relative;
}

h3{
  font-size: 24px;
  font-weight: 400;
  color: #e5e5e5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.round{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #00eeb3;
  transition-property: height, width, background, margin, border-radius;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.round:hover{
  width: 155px;
  height: 155px;
  background: #00ffc0;
  cursor: pointer;
}

.round:active{
  width: 155px;
  height: 155px;
  background: #ee5700;
  margin-left: 800px;
  border-radius: 5px;
}

.rectang{
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 20px;
  background: #e5e5e5;
  opacity: 0.5;
  transition: opacity .3s, margin .3s ease;
  float: left;
}

.one:active{
  background: #D1FFA2;
  opacity: 1;
  margin-top: 0;
}

.two:active{
  background: #FFA6A6;
  opacity: 1;
  margin-top: 0;
}

.three:active{
  background: #88D9FF;
  opacity: 1;
  margin-top: 0;
}

.cube{
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0;
}

.one1{
  margin-top: 200px;
  animation: rising .6s ease, color1;
  animation-fill-mode: forwards;
}

.two2{
  animation: rising .6s ease, color2;
  animation-fill-mode: forwards;
  animation-delay: .1s;
}

.three3{
  animation: rising .6s ease, color3;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

@keyframes rising {
  0%{
    transform: translate(0);
    width: 50px;
    opacity: 0;
    }
  50%{
    transform: translateY(-200px);
    width: 50px;
    opacity: .5;
    }
  100%{
    transform: translateY(-200px);
    width: 500px;
    opacity: 1;
  }
}

@keyframes color1{
  100%{
    background: #88D9FF;
  }
}

@keyframes color2{
  100%{
    background: #FFA6A6;
  }
}

@keyframes color3{
  100%{
    background: #D1FFA2;
  }
}

.chutkatop{
  margin-top: -200px;
}

.bob{
  position: relative;
  height: 120px;
  width: 120px;
  display: block;
}

.blobe-blue{
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: #38C0FF;
  display: block;
  border-radius: 40px;
  animation: bluez 4s ease infinite;
}

@keyframes bluez {
0% {
    top: 0;
    bottom: auto;
    height: 40px;
  }
8.25% {
    top: 0;
    bottom: auto;
    height: 120px;
  }
8.5% {
    top: auto;
    bottom: 0;
    height: 120px;
  }
16.5% {
    top: auto;
    bottom: 0;
    height: 40px;
    background: #F8E71C;
  }
25% {
    top: auto;
    height: 40px;
  }
}

.blobe-yellow{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  background: #F8E71C;
  display: block;
  border-radius: 40px;
  animation: yellowz 4s ease infinite;
  animation-delay: 1s;
}

@keyframes yellowz {
0% {
    left: 0;
    right: auto;
    height: 40px;
  }
8.25% {
    left: 0;
    right: auto;
    width: 120px;
  }
8.5% {
    left: auto;
    right: 0;
    width: 120px;
  }
16.5% {
    left: auto;
    right: 0;
    width: 40px;
    background: #F96332;
  }
25% {
    left: auto;
    width: 40px;
  }
}

.blobe-red{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  background: #F96332;
  display: block;
  border-radius: 40px;
  animation: redz 4s ease infinite;
  animation-delay: 2s;
}

@keyframes redz {
0% {
    bottom: 0;
    top: auto;
    height: 40px;
  }
8.25% {
    bottom: 0;
    top: auto;
    height: 120px;
  }
8.5% {
    bottom: auto;
    top: 0;
    height: 120px;
  }
16.5% {
    bottom: auto;
    top: 0;
    height: 40px;
    background: #50E3C2;
  }
25% {
    bottom: auto;
    height: 40px;
  }
}

.blobe-green{
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: #50E3C2;
  display: block;
  border-radius: 40px;
  animation: greenz 4s ease infinite;
  animation-delay: 3s;
}

@keyframes greenz {
0% {
    right: 0;
    left: auto;
    width: 40px;
  }
8.25% {
    right: 0;
    left: auto;
    width: 120px;
  }
8.5% {
    right: auto;
    left: 0;
    width: 120px;
  }
16.5% {
    right: auto;
    left: 0;
    width: 40px;
    background: #38C0FF;
  }
25% {
    right: auto;
    width: 40px;
  }
}

.backbtn{
  position: relative;
  margin-top: 50px;
  left: 50%;
  margin-left: -60px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  width: 120px;
  height: 35px;
  border: 1px solid #7DCAFF;
  background-color: #EFF9FF;
  color: #3BAFFF;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

.backbtn:hover{
  background-color: #EAF6FF;
  color: #3BAFFF;
}

.backbtn:active{
  background-color: #E1F3FF;
}
