body{
  font-family: 'Open Sans', sans-serif;
}

article{
  width: 490px;
  margin: 66px auto 0;
  text-align: center;
}

.logogrey{
  display: block;
  width: 125px;
  height: 31px;
  margin: 0 auto 60px;
}

.maindescription{
  color: #3C4858;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2px;
}

.subdescription{
  color: #8492A6;
  font-size: 13px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 63px;
}

input {
  border: 1px solid #E0E6ED;
  border-radius: 4px;
  width: 480px;
  height: 55px;
  padding: 0 20px 0 62px;
  color: #8492A6;
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;
}

input:focus{
  outline: none;
  color: #3C4858;
  border: 1px solid #00B5FF;
  box-shadow: 0px 0px 6px 0px rgba(0,181,255,0.33);
}

::-webkit-input-placeholder{
  color:#8492A6;
  transition: text-indent 0.3s ease;
}

:focus::-webkit-input-placeholder{
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

::-moz-placeholder{
  color:#8492A6;
  transition: text-indent 0.3s ease;
}

:focus::-moz-placeholder{
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

input[type="email"]{
  margin-bottom: 15px;
  background: url(../img/close-envelope-grey.svg) no-repeat;
  background-position: 20px 50%;
}

input[type="password"]{
  margin-bottom: 5px;
  background: url(../img/padlock-grey.svg) no-repeat;
  background-position: 20px 50%;
}

input[type="email"]:focus{
  background: url(../img/close-envelope-blue.svg) no-repeat;
  background-position: 20px 50%;
}

input[type="password"]:focus{
  background: url(../img/padlock-blue.svg) no-repeat;
  background-position: 20px 50%;
}

.fogotpass{
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  padding-right: 5px;
  text-decoration: none;
  color: #8492A6;
  font-size: 13px;
  font-weight: 600;
  text-align: right;
}

.fogotpass:hover{
  color: #A4AFBF;
}

.fogotpass:active{
  color: #6A7A90;
}

input[type="submit"]{
  background-color: #00CF61;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  padding: 0;
}

input[type="submit"]:hover{
  background-color: #03CA60;
}

input[type="submit"]:active{
  background-color: #00C75D;
}

.socialtext{
  display: flex;
  color: #8492A6;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  justify-content: center;
}

.socialtext::before,
.socialtext::after{
  content: "";
  height: 1px;
  width: 60px;
  border: 1px solid #E0E6ED;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-right: 20px;
  margin-top: 9px;
}

.socialtext::after{
  margin-left: 20px;
}

.socialbtn{
  display: flex;
  justify-content: space-between;
}

button[type="socilabutton"]{
  margin-top: 50px;
  width: 230px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #E0E6ED;
  cursor: pointer;
  background-color: white;
}

button[type="socilabutton"]:focus{
  outline: none;
}

button[type="socilabutton"]:hover{
  border: 1px solid #CCF0FF;
  box-shadow: 0px 0px 17px 0px rgba(154,226,255,0.5);
}

.google{
  background: url(../img/Google.svg) no-repeat center;
}

.google:active{
  background: #F7FCFE url(../img/Google.svg) no-repeat center;
}

.facebook{
  background: url(../img/Facebook.svg) no-repeat center;
}

.facebook:active{
  background: #F7FCFE url(../img/Facebook.svg) no-repeat center;
}

.endtext{
  color: #8492A6;
  font-size: 13px;
  font-weight: 600;
  margin-top: 55px;
}

.createacc{
  color: #00B5FF;
  text-decoration: none;
}

.createacc:hover{
  color: #3DC7FF;
}

.createacc:active{
  color: #00ADF3;
}

.ps{
  color: #D2DCE7;
  font-weight: 400;
}

.closebtn{
  position: absolute;
  width: 38px;
  height: 38px;
  background: #EFF2F7;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  right: 20%;
  top: 60px;
}

.closebtn:hover{
  background: #E9EDF5;
}

.closebtn:active{
  background: #E1E8F3;
}

.closebtn:focus{
  outline: none;
}

.horizontal{
  background: #8492A6;
  border: none;
  width: 14px;
  height: 2px;
  margin: 0 auto;
  padding: 0;
  transform: rotate(45deg);
}

.vertical{
  position: absolute;
  background: #8492A6;
  border: none;
  width: 14px;
  height: 2px;
  transform: rotate(135deg);
  margin: 0 auto;
  padding: 0;
  left: 12px;
  bottom: 18px;
}
