body{
  font-family: 'Open Sans', sans-serif;
}

.options{
  width: 1055px;
  margin: 66px auto;
  border: 1px solid #DBE6EE;
  border-radius: 4px;
  padding: 23px 28px;
}

.swichers{
  float: left;
  margin-right: 210px;
  width: 370px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.krugliy{
  display: none;
}

.labelforclick{
  position: relative;
  display: block;
  cursor: pointer;
  width: 47px;
  height: 26px;
  border: 2px solid #E0E6ED;
  box-sizing: border-box;
  border-radius: 26px;
  background: white;
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}

.labelforclick::before{
  content: "";
  display: block;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border-radius: 18px;
  border: 2px solid #E0E6ED;
  background: #EFF2F7;
  transition: margin 0.4s, background 0.4s, border 0.4s;
}

.labelforclick::after{
  content: "";
  display: block;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
  width: 47px;
  height: 26px;
  border: 2px solid #E0E6ED;
  box-sizing: border-box;
  border-radius: 26px;
  transition: border 0.4s;
}

.krugliy:checked + .labelforclick::before {
  margin-left: 21px;
  border: 2px solid #3C4858;
  background: #FC4F1B;
}

.krugliy:checked + .labelforclick::after {
  border: 2px solid #3C4858;
}

h3{
  color: #3C4858;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p{
  color: #8492A6;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.foroption{
  margin-top: 29px;
}

.foroption:first-child{
  margin-top: 0;
}

.tochka{
  display: none;
}

.labelfortochka{
  cursor: pointer;
  /*display: block;*/
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border: 2px solid #3C4858;
  border-radius: 20px;
  background-color: #F5F5F5;
  float: left;
  margin-top: 7px;
  margin-right: 8px;
}

.labelfortochka::before{
  content: "";
  display: block;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
}

.tochka:checked + .labelfortochka::before {
  background: #50E3C2;
  transform: scale(1);
}

.backbtn{
  position: relative;
  margin-top: 50px;
  left: 50%;
  margin-left: -60px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  width: 120px;
  height: 35px;
  border: 1px solid #7DCAFF;
  background-color: #EFF9FF;
  color: #3BAFFF;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

.backbtn:hover{
  background-color: #EAF6FF;
  color: #3BAFFF;
}

.backbtn:active{
  background-color: #E1F3FF;
}
