// COLORS
@shadow-bcg-color: rgba(59, 59, 59, 0.19);
@pop-title-color: #4C4C4C;
@sub-text-color: #9A9A9A;
@form-text-color: #676767;
@submit-btn-txt-color: #fff;
@close-btn-color: #707070;
@submit-btn-bcg-color: #38C0FF;
@main-brdr-color: 5px 10px 25px 0px rgba(23, 23, 23, 0.5);
@field-brdr-color: #E5E5E5;
@placehold-color: #676767;
@terms-color: #9A9A9A;
@popup-btn-color: #F8D7FF;
@popup-brdr-color: #E669FF;
@popup-btntxt-color: #BD10E0;


// FONT-SIZE
@pop-title-txt-size: 15px;
@sub-text-size: 13px;
@placehold-txt-size: 13px;
@submit-btn-txt-size: 13px;
@terms-size: 13px;
@popup-btntxt-size: 11px;

*{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: url(../img/bcg.png);
}

.subscrb{
  display: block;
  background: url(../img/subscribe.svg), no-repeat;
  width: 1176px;
  height: 2300px;
  position: absolute;
  left: 50%;
  margin-left: -588px;
}

.podlojka{
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  cursor: default;
  z-index: 10;
  animation: highlight .3s ease;
  animation-fill-mode: forwards;
}

@keyframes highlight {
    100% {
      background-color: @shadow-bcg-color;
    }
  }

.podlojka:target{
  display: block;
}

.modalwin{
  position: absolute;
  left: 50%;
  top: -500px;
  margin-left: -260px;
  height: 383px;
  width: 520px;
  border-radius: 4px;
  background-color: white;
  box-shadow: @main-brdr-color;
  z-index: 20;
  transition: margin .3s ease;
  padding: 0;
}

.podlojka:target + .modalwin{
  margin-top: 700px;
}

.titlepopup{
  color: @pop-title-color;
  font-size: @pop-title-txt-size;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 3px;
  padding: 0;
}

.sub-text{
  color: @sub-text-color;
  font-size: @sub-text-size;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin:0;
  margin-bottom: 33px;
}

.terms{
  color: @terms-color;
  font-size: @terms-size;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin:0;
  margin-top: 38px;
  margin-bottom: 21px;
}

input{
  width: 428px;
  height: 55px;
  border: 1px solid @field-brdr-color;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding-left: 20px;
  font-size: @placehold-txt-size;
  &:focus{
    outline: none;
  }
}

input[type="password"]{
  margin-top: 15px;
  margin-bottom: 10px;
}

button{
  width: 428px;
  height: 55px;
  color: @submit-btn-txt-color;
  background-color: @submit-btn-bcg-color;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    background-color: darken(@submit-btn-bcg-color, 3%);
  }
  &:active{
    background-color: darken(@submit-btn-bcg-color, 6%);
  }
}

::-webkit-input-placeholder{
  color: @placehold-color;
  transition: text-indent 0.3s ease;
}

:focus::-webkit-input-placeholder{
  text-indent: 500px;
}

::-moz-placeholder{
  color: @placehold-color;
  transition: text-indent 0.3s ease;
}

:focus::-moz-placeholder{
  text-indent: 500px;
}

.abs{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -52px;
  margin-left: -90px;
  z-index: 10;
}

.link{
  display: block;
  width: 180px;
  height: 50px;
  border: 1px solid @popup-brdr-color;
  background-color: @popup-btn-color;
  color: @popup-btntxt-color;
  font-size: @popup-btntxt-size;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  font-weight: 600;
  text-decoration: none;
    &:hover{
      background-color: darken(@popup-btn-color, 1.5%);
    }
    &:active{
      background-color: darken(@popup-btn-color, 3%);
    }
    z-index: 5;
}

.backbtn{
  margin-top: 5px;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  display: block;
  width: 180px;
  height: 50px;
  border: 1px solid #7DCAFF;
  background-color: #EFF9FF;
  color: #3BAFFF;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  &:hover{
    background-color: darken(#EAF6FF, 1.5%);
    color: #3BAFFF;
  }
  &:active{
    background-color: darken(#EAF6FF, 3%);
  }
}
