* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.test {
  background-color: #e5e5e5;
  width: 1165px;
  height: 2000px;
  margin: auto;
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  cursor: default;
}
.overlay:target {
  display: block;
}
.popup {
  top: -100%;
  right: 0;
  left: 50%;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
  border-radius: 4px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -500%);
  transition: transform 0.6s ease-out;
}
.overlay:target + .popup {
  transform: translate(-50%, 0);
  top: 20%;
}
.close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  transition: all ease .8s;
}
.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
}
