body {
  font-family: 'Open Sans', sans-serif;
}
.grey {
  background-color: lightgrey;
}
.black {
  background: black;
  color: white;
}
.height {
  height: 200px;
  background-color: green;
}
.cntr {
  text-align: center;
}
